@font-face {
  font-family: 'Circular Std';
  src: url('./assets/fonts/Circular\ Std\ Book.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./assets/fonts/Circular\ Std\ Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./assets/fonts/Circular\ Std\ Bold.ttf');
  font-weight: 700;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Circular Std', sans-serif;
  margin: 0;
}

h1 {
  font-size: 42px;
  font-weight: 700;
  margin: 0 0 20px;
  line-height: 44px;
}

h2 {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  line-height: 32px;
}

p {
  margin: 0;
  padding: 0;
  line-height: 25px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ######### */
/* # START # */
/* ######### */
.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 1440px;
}

/* ########## */
/* # HEADER # */
/* ########## */
header {
  width: 100%;
}

header:before {
  content: '';
  position: absolute;
  background: url('./assets/images/blue-header.svg') no-repeat top left;
  height: 746px;
  width: 1000px;
  z-index: 1;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 45px auto auto auto;
  width: 100%;
  max-width: 1260px;
}

.nav-content--img {
  display: flex;
  z-index: 2;
}

.nav-content-links {
  display: flex;
  color: #919eab;
  font-size: 15px;
}

.nav-content--link {
  margin-left: 32px;
}

.nav-content--link-ul {
  border-bottom: 3px solid #00f;
  font-weight: bold;
}

.h-content-container {
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.h-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.h-content-left {
  z-index: 2;
}

.notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  mix-blend-mode: normal;
  background-color: rgba(33, 43, 54, 0.2);
  border-radius: 30px;
  margin-bottom: 20px;
}

.notification--new {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #573b00;
  padding: 6px 18px;
  background: #ffea8a;
  border-radius: 30px;
  font-weight: 700;
}

.notification--text {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
  padding: 7px 10px;
}

.notification--link {
  font-weight: 500;
  text-decoration: underline;
}

.h-content-left--title {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
}

.h-content-left--pgraph {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.h-content-left--btn {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 46px;
  max-width: 224px;
}

/* ######### */
/* # QUOTE # */
/* ######### */
.quote-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 174px 0 141px 0;
  width: 100%;
  max-width: 1146px;
}

.quote-content {
  display: flex;
  flex-direction: column;
}

.quote-content--quote {
  color: #00f;
  margin-bottom: 20px;
}

.quote-content--info {
  color: #919eab;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

/* ########### */
/* # CONTENT # */
/* ########### */
.content-container {
  margin: 0 165px;
  max-width: 1110px;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

.card-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 100px;
}

.small-card {
  background-color: #00f;
  box-sizing: border-box;
  box-shadow: 0px 8px 20px rgba(224, 224, 224, 0.5);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 35px 30px 30px 30px;
  max-width: 350px;
  width: 100%;
  max-height: 330px;
}

.small-card--quote {
  margin-bottom: 62px;
  line-height: 25px;
}

.small-card--author {
  position: relative;
  padding: 15px 0 0 0;
  line-height: 20px;
}

.small-card--author:before {
  content: '';
  position: absolute;
  border-top: 3px solid #fff;
  width: 27px;
  top: 0;
}

.big-card {
  background-color: #00f;
  box-sizing: border-box;
  box-shadow: 0px 8px 20px rgba(224, 224, 224, 0.5);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  max-width: 730px;
  width: 100%;
  max-height: 455px;
  height: 455px;
  padding: 35px 0 0 40px;
}

.our-work-card {
  background: url('./assets/images/our-work.svg') no-repeat bottom right;
  background-color: #00f;
}

.big-card--title {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  padding: 15px 0 0 0;
}

.big-card--title:before {
  content: '';
  position: absolute;
  border-top: 3px solid #fff;
  width: 27px;
  top: 0;
}

.big-card--info {
  margin-top: 30px;
}

.big-card-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.big-card--tag {
  border: 1px solid #fff;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 11px;
  font-weight: 700;
  padding: 3px 12px;
  line-height: 15px;
  letter-spacing: 0.33px;
}

.big-card--tag:first-child {
  margin-right: 10px;
}

.big-card-btn {
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.329654);
  border-radius: 30px;
  margin-top: 65px;
  text-align: center;
  max-width: 200px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #0000ff;
  padding: 16px 30px;
}

.our-services-card {
  background: url('./assets/images/our-services.svg') no-repeat bottom right;
  background-color: #00f;
}

.btn-our-services {
  margin-top: 42px;
}

.our-services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #00f;
  margin-bottom: 100px;
}

.our-services--title {
  font-size: 42px;
  line-height: 44px;
  text-align: center;
  color: #0000ff;
  margin: 100px 0 20px 0;
}

.our-services--info {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #234361;
  max-width: 574px;
  margin-bottom: 88px;
}

.our-services-grids {
  display: flex;
  flex-direction: column;
  max-width: 760px;
  width: 100%;
}

.our-services-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.our-services-grid:first-child {
  margin-bottom: 50px;
}

.our-services-grid--item {
  max-width: 350px;
}

.our-services-grid--title {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #0000ff;
  position: relative;
  padding: 15px 0 0 0;
  margin-bottom: 23px;
}

.our-services-grid--title:before {
  content: '';
  position: absolute;
  border-top: 3px solid #00f;
  width: 27px;
  top: 0;
}

.our-services-grid--info {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #637381;
}

.chat-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.chat-container--title {
  color: #00f;
  line-height: 44px;
  margin-bottom: 20px;
}

.chat-container--info {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #212b36;
  margin-bottom: 30px;
}

.chat-btn {
  text-transform: uppercase;
  border-radius: 30px;
  background-color: #00f;
  color: #fff;
  line-height: 16px;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 20px;
  box-sizing: border-box;
  padding: 10px 20px;
  max-width: 123px;
}

footer {
  padding: 85px 0;
}

.f-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.f-content-left {
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

.f-content-logo {
  display: flex;
  align-items: center;
}

.f-content-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.f-content-pgraph {
  font-size: 16px;
  margin-left: 15px;
}

.f-content-copyright {
  margin-top: 56px;
}

.f-content-links-container {
  display: flex;
  justify-content: flex-end;
  line-height: 29px;
}

.f-content-links:first-child {
  margin-right: 114px;
}
